body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#btneens{
    background-color: lightgray;
}
#btnoneens{
    background-color: lightgray;
}
#btngeen{
    background-color: lightgray;
}
#overslaan{
    background-color: lightgray;
}